.content {
    line-height: 1.6em;
    margin: 30px 5px 50px;
    //max-width: 1500px;
    padding: 0 2em;
}

html, table, button, input, select, textarea, .pure-g [class*="pure-u"] {
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 14px;
}

.pure-table th.highlight {
    background-color: #1b926c;
    color: #fff;
}

.header {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
    padding-bottom: 20px;
}

.header h1 {
    font-size: 200%;
    font-weight: 100;
    margin: 0;
}

.button-success {
    background: #E1F5A9;
}

